*{
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-image: url('https://vignette4.wikia.nocookie.net/clashroyale/images/a/ae/NavButton-Background.jpg/revision/latest?cb=20160125234407');
    padding: 20px;
    text-align: center;
    font-family: "Palatino";
    font-size: 30px
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #C1A922;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
.active {
    background-color: #4CAF50;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    color: yellow;
    width: 30%;
}

/* Middle column */
.column.middle {
    color: yellow;
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.footercards {
  background-color: #f1f1f1; 
}
